name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - name: Restore dotnet tools
        run: dotnet tool restore

      - name: Run Cake (CI)
        shell: bash
        if: runner.os != 'Windows'
        run: |
          chmod +x ./build.sh
          ./build.sh --target=CI

      - name: Run Cake (CI) (Windows)
        shell: pwsh
        if: runner.os == 'Windows'
        run: |
          ./build.ps1 -Target CI
